<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02 Logical Data Diagram</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02 Logical Data Diagram</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0c928f0270ba40ea9a2498bb6e868905.png" alt="02 Logical Data Diagram" usemap="#id-0c928f0270ba40ea9a2498bb6e868905map"/>
			   <map name="id-0c928f0270ba40ea9a2498bb6e868905map">
				  		<area shape="rect" coords="220,10,340,65" href="../elements/id-4c7b099f2aaf4a949b1c167229dd5d2b.html"  target="element">
				  		<area shape="rect" coords="10,262,130,317" href="../elements/id-cc50247c9aae4e1c8d16fabbd7bb8b3a.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/id-2c4f31bd789347e6a0984729b7c403eb.html"  target="element">
				  		<area shape="rect" coords="10,178,130,233" href="../elements/id-5fe1481285a94db6ac6dd24efa6c6a42.html"  target="element">
				  		<area shape="rect" coords="430,10,550,65" href="../elements/id-dc0844b2afa54ee8a206b1187d70edb8.html"  target="element">
				  		<area shape="rect" coords="430,94,550,149" href="../elements/id-ada0936b0668419ea117ffa3dceb1326.html"  target="element">
				  		<area shape="rect" coords="430,262,550,317" href="../elements/id-0741f22acb8e4785bca00871f7a2a616.html"  target="element">
				  		<area shape="rect" coords="430,178,550,233" href="../elements/id-dfccd09b4b5a4b2daa17abad28a4e26b.html"  target="element">
				  		<area shape="rect" coords="220,178,340,233" href="../elements/id-0f7eef5776ea4d749529228829680166.html"  target="element">
				  		<area shape="rect" coords="220,262,340,317" href="../elements/id-9019f0438d6d469787f1b113c068ddff.html"  target="element">
				  		<area shape="rect" coords="220,94,340,149" href="../elements/id-d58c323c549449fc839b53f4ae9b6f38.html"  target="element">
				  		<area shape="rect" coords="10,94,130,149" href="../elements/id-6b30d8d07d17453e9b1f686495a7566e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Logical data diagram atau diagram data logikal bertujuan untuk memperlihatkan pandangan logikal terhadap relasi/hubungan antar entitas dan menyiapkan rancangan basis data atau database. Informasi yang terdapat dalam diagram ini berupa arsitektur aplikasi, diagram entitas, dan skema database.
Diagram data logikal yang telah kami buat terdiri dari elemen Data Object.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6b30d8d07d17453e9b1f686495a7566e.html" target="element"> Data Pasien </a> </td>
											    <td> <a href="../elements/id-6b30d8d07d17453e9b1f686495a7566e.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d58c323c549449fc839b53f4ae9b6f38.html" target="element"> Data Dokter </a> </td>
											    <td> <a href="../elements/id-d58c323c549449fc839b53f4ae9b6f38.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9019f0438d6d469787f1b113c068ddff.html" target="element"> Data Asuransi Kesehatan </a> </td>
											    <td> <a href="../elements/id-9019f0438d6d469787f1b113c068ddff.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0f7eef5776ea4d749529228829680166.html" target="element"> Data Resep Obat </a> </td>
											    <td> <a href="../elements/id-0f7eef5776ea4d749529228829680166.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dfccd09b4b5a4b2daa17abad28a4e26b.html" target="element"> Data Transaksi </a> </td>
											    <td> <a href="../elements/id-dfccd09b4b5a4b2daa17abad28a4e26b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0741f22acb8e4785bca00871f7a2a616.html" target="element"> Data Pembayaran </a> </td>
											    <td> <a href="../elements/id-0741f22acb8e4785bca00871f7a2a616.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ada0936b0668419ea117ffa3dceb1326.html" target="element"> Data Riwayat Chat </a> </td>
											    <td> <a href="../elements/id-ada0936b0668419ea117ffa3dceb1326.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dc0844b2afa54ee8a206b1187d70edb8.html" target="element"> Data Psikolog/Psikiater </a> </td>
											    <td> <a href="../elements/id-dc0844b2afa54ee8a206b1187d70edb8.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5fe1481285a94db6ac6dd24efa6c6a42.html" target="element"> Data Apoteker </a> </td>
											    <td> <a href="../elements/id-5fe1481285a94db6ac6dd24efa6c6a42.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2c4f31bd789347e6a0984729b7c403eb.html" target="element"> Data Petugas Gizi </a> </td>
											    <td> <a href="../elements/id-2c4f31bd789347e6a0984729b7c403eb.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cc50247c9aae4e1c8d16fabbd7bb8b3a.html" target="element"> Data Petugas Posyandu </a> </td>
											    <td> <a href="../elements/id-cc50247c9aae4e1c8d16fabbd7bb8b3a.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4c7b099f2aaf4a949b1c167229dd5d2b.html" target="element"> Data Jadwal Temu </a> </td>
											    <td> <a href="../elements/id-4c7b099f2aaf4a949b1c167229dd5d2b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-112501b116fe4c1ab45d8dbe12f15111.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-112501b116fe4c1ab45d8dbe12f15111.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6b30d8d07d17453e9b1f686495a7566e.html" target="element"> Data Pasien </a> </td>
																		<td> <a href="../elements/id-2c4f31bd789347e6a0984729b7c403eb.html" target="element"> Data Petugas Gizi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ef6239ed66f74aafbd7f8a9746498c34.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef6239ed66f74aafbd7f8a9746498c34.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-d58c323c549449fc839b53f4ae9b6f38.html" target="element"> Data Dokter </a> </td>
																		<td> <a href="../elements/id-6b30d8d07d17453e9b1f686495a7566e.html" target="element"> Data Pasien </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-68e850de451944a5b8382b834eccac8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-68e850de451944a5b8382b834eccac8b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-d58c323c549449fc839b53f4ae9b6f38.html" target="element"> Data Dokter </a> </td>
																		<td> <a href="../elements/id-0f7eef5776ea4d749529228829680166.html" target="element"> Data Resep Obat </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b6ddda290f26416682f6fa3253817cde.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6ddda290f26416682f6fa3253817cde.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-d58c323c549449fc839b53f4ae9b6f38.html" target="element"> Data Dokter </a> </td>
																		<td> <a href="../elements/id-ada0936b0668419ea117ffa3dceb1326.html" target="element"> Data Riwayat Chat </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-985d60a7b5f5414785d266df34e3f2df.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-985d60a7b5f5414785d266df34e3f2df.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-9019f0438d6d469787f1b113c068ddff.html" target="element"> Data Asuransi Kesehatan </a> </td>
																		<td> <a href="../elements/id-0741f22acb8e4785bca00871f7a2a616.html" target="element"> Data Pembayaran </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1a83149bf8d74f1b9e280908ae5cd06b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a83149bf8d74f1b9e280908ae5cd06b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0f7eef5776ea4d749529228829680166.html" target="element"> Data Resep Obat </a> </td>
																		<td> <a href="../elements/id-5fe1481285a94db6ac6dd24efa6c6a42.html" target="element"> Data Apoteker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1f2fea4c1fe2483099dc92ffc88f88bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f2fea4c1fe2483099dc92ffc88f88bb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0f7eef5776ea4d749529228829680166.html" target="element"> Data Resep Obat </a> </td>
																		<td> <a href="../elements/id-dfccd09b4b5a4b2daa17abad28a4e26b.html" target="element"> Data Transaksi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-24c801e61f4c4b58bb6557ea08e7d918.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24c801e61f4c4b58bb6557ea08e7d918.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0f7eef5776ea4d749529228829680166.html" target="element"> Data Resep Obat </a> </td>
																		<td> <a href="../elements/id-9019f0438d6d469787f1b113c068ddff.html" target="element"> Data Asuransi Kesehatan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-75d891c026714d2a9382700793ab7585.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75d891c026714d2a9382700793ab7585.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dfccd09b4b5a4b2daa17abad28a4e26b.html" target="element"> Data Transaksi </a> </td>
																		<td> <a href="../elements/id-0741f22acb8e4785bca00871f7a2a616.html" target="element"> Data Pembayaran </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0e0d692fc69b471db84fae22f05bf2d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e0d692fc69b471db84fae22f05bf2d9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dfccd09b4b5a4b2daa17abad28a4e26b.html" target="element"> Data Transaksi </a> </td>
																		<td> <a href="../elements/id-ada0936b0668419ea117ffa3dceb1326.html" target="element"> Data Riwayat Chat </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0eaf16b953f84776aa45750dc76899cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0eaf16b953f84776aa45750dc76899cd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dc0844b2afa54ee8a206b1187d70edb8.html" target="element"> Data Psikolog/Psikiater </a> </td>
																		<td> <a href="../elements/id-ada0936b0668419ea117ffa3dceb1326.html" target="element"> Data Riwayat Chat </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e317667c0698469a802790dff5fee5ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e317667c0698469a802790dff5fee5ab.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5fe1481285a94db6ac6dd24efa6c6a42.html" target="element"> Data Apoteker </a> </td>
																		<td> <a href="../elements/id-cc50247c9aae4e1c8d16fabbd7bb8b3a.html" target="element"> Data Petugas Posyandu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-96c87bc9125c4ec6903dedfd5581e563.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96c87bc9125c4ec6903dedfd5581e563.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5fe1481285a94db6ac6dd24efa6c6a42.html" target="element"> Data Apoteker </a> </td>
																		<td> <a href="../elements/id-6b30d8d07d17453e9b1f686495a7566e.html" target="element"> Data Pasien </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e9fc524287d94dc39fa6d2bc79a0c5f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e9fc524287d94dc39fa6d2bc79a0c5f6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2c4f31bd789347e6a0984729b7c403eb.html" target="element"> Data Petugas Gizi </a> </td>
																		<td> <a href="../elements/id-4c7b099f2aaf4a949b1c167229dd5d2b.html" target="element"> Data Jadwal Temu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dfc6e9f40b0c404abd7b439c1eeed878.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dfc6e9f40b0c404abd7b439c1eeed878.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-cc50247c9aae4e1c8d16fabbd7bb8b3a.html" target="element"> Data Petugas Posyandu </a> </td>
																		<td> <a href="../elements/id-9019f0438d6d469787f1b113c068ddff.html" target="element"> Data Asuransi Kesehatan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-077b915db4894f1f8c26ca0a0775b376.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-077b915db4894f1f8c26ca0a0775b376.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4c7b099f2aaf4a949b1c167229dd5d2b.html" target="element"> Data Jadwal Temu </a> </td>
																		<td> <a href="../elements/id-d58c323c549449fc839b53f4ae9b6f38.html" target="element"> Data Dokter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fc72a273bf954b3d89e30d8058404de6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fc72a273bf954b3d89e30d8058404de6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4c7b099f2aaf4a949b1c167229dd5d2b.html" target="element"> Data Jadwal Temu </a> </td>
																		<td> <a href="../elements/id-dc0844b2afa54ee8a206b1187d70edb8.html" target="element"> Data Psikolog/Psikiater </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>