<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02 Infrastructure Usage Diagram</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02 Infrastructure Usage Diagram</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-26791d71f6404b2c8c79809de75115d2.png" alt="02 Infrastructure Usage Diagram" usemap="#id-26791d71f6404b2c8c79809de75115d2map"/>
			   <map name="id-26791d71f6404b2c8c79809de75115d2map">
				  						<area shape="rect" coords="814,512,934,567" href="../elements/id-ef2aefff3b964140bb8e7a7a2fe04b6c.html"  target="element">
				  						<area shape="rect" coords="670,512,790,567" href="../elements/id-0bc77fb4c8044a1483cd9ee6e631e402.html"  target="element">

				  				<area shape="rect" coords="634,428,995,621" href="../elements/id-b0fc8dea0d5740e9ba913e7541c2926a.html"  target="element">
				  								<area shape="rect" coords="162,506,282,561" href="../elements/id-3ea3e2d69e7b499eb713f7e43360d8f7.html"  target="element">

				  						<area shape="rect" coords="138,428,319,633" href="../elements/id-41b848e33bf641b3b6438217a9d10ae6.html"  target="element">
				  						<area shape="rect" coords="390,503,510,558" href="../elements/id-dececbebbc814c7687cfa06332d9bc01.html"  target="element">

				  				<area shape="rect" coords="66,368,575,681" href="../elements/id-1b280b52c6c945699de5539e49126ded.html"  target="element">

				  		<area shape="rect" coords="10,284,1055,729" href="../elements/id-50732ae5fc0a45faa62648151a4ebfbc.html"  target="element">
				  		<area shape="rect" coords="755,68,875,123" href="../elements/id-f5f582f4d6c04984a3a0348881099bd5.html"  target="element">
				  		<area shape="rect" coords="558,68,678,123" href="../elements/id-94725b3467e64290b816237a48b525d6.html"  target="element">
				  		<area shape="rect" coords="383,68,503,123" href="../elements/id-4db246c66f4345acabc23bd087920b10.html"  target="element">
				  		<area shape="rect" coords="191,68,311,123" href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html"  target="element">
				  		<area shape="rect" coords="742,188,875,243" href="../elements/id-c16100832e81437fa1e17e22bd782ed1.html"  target="element">
				  		<area shape="rect" coords="190,188,323,243" href="../elements/id-6b3eb5d9565d4d85b47ea664b13c670c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Infrastructure usage diagram atau diagram penggunaan infrastruktur bertujuan untuk menganalisis kinerja dan skalabilitas karena berhubungan dengan infrastruktur fisik yang digunakan untuk mendukung aplikasi. Informasi yang terdapat dalam diagram ini berupa bagaimana aplikasi didukung oleh infrastruktur software dan hardware layanan infrastruktur (infrastructure service) yang diberikan untuk aplikasi oleh device, software sistem, dan network.
Diagram penggunaan infrastruktur yang telah kami buat terdiri dari elemen Application Component, Technology Service, Node, dan System Software.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6b3eb5d9565d4d85b47ea664b13c670c.html" target="element"> Layanan Pesan </a> </td>
											    <td> <a href="../elements/id-6b3eb5d9565d4d85b47ea664b13c670c.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c16100832e81437fa1e17e22bd782ed1.html" target="element"> Layanan Pengaksesan Data </a> </td>
											    <td> <a href="../elements/id-c16100832e81437fa1e17e22bd782ed1.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html" target="element"> HospitalVisit </a> </td>
											    <td> <a href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4db246c66f4345acabc23bd087920b10.html" target="element"> ChatDoctor </a> </td>
											    <td> <a href="../elements/id-4db246c66f4345acabc23bd087920b10.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-94725b3467e64290b816237a48b525d6.html" target="element"> MediShop </a> </td>
											    <td> <a href="../elements/id-94725b3467e64290b816237a48b525d6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f5f582f4d6c04984a3a0348881099bd5.html" target="element"> MediSend </a> </td>
											    <td> <a href="../elements/id-f5f582f4d6c04984a3a0348881099bd5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-50732ae5fc0a45faa62648151a4ebfbc.html" target="element"> Server Utama </a> </td>
											    <td> <a href="../elements/id-50732ae5fc0a45faa62648151a4ebfbc.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1b280b52c6c945699de5539e49126ded.html" target="element"> AyoSehat Application Server </a> </td>
													    <td> <a href="../elements/id-1b280b52c6c945699de5539e49126ded.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-dececbebbc814c7687cfa06332d9bc01.html" target="element"> Monitoring MIS </a> </td>
															    <td> <a href="../elements/id-dececbebbc814c7687cfa06332d9bc01.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-41b848e33bf641b3b6438217a9d10ae6.html" target="element"> Windows Server </a> </td>
															    <td> <a href="../elements/id-41b848e33bf641b3b6438217a9d10ae6.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-3ea3e2d69e7b499eb713f7e43360d8f7.html" target="element"> Message Queuing </a> </td>
																	    <td> <a href="../elements/id-3ea3e2d69e7b499eb713f7e43360d8f7.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-b0fc8dea0d5740e9ba913e7541c2926a.html" target="element"> AyoSehat Database Server </a> </td>
													    <td> <a href="../elements/id-b0fc8dea0d5740e9ba913e7541c2926a.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-0bc77fb4c8044a1483cd9ee6e631e402.html" target="element"> Red Hat Linux </a> </td>
															    <td> <a href="../elements/id-0bc77fb4c8044a1483cd9ee6e631e402.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ef2aefff3b964140bb8e7a7a2fe04b6c.html" target="element"> DBMS </a> </td>
															    <td> <a href="../elements/id-ef2aefff3b964140bb8e7a7a2fe04b6c.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-cf05382994df49558b44943442862d63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf05382994df49558b44943442862d63.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-6b3eb5d9565d4d85b47ea664b13c670c.html" target="element"> Layanan Pesan </a> </td>
																		<td> <a href="../elements/id-4db246c66f4345acabc23bd087920b10.html" target="element"> ChatDoctor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3c598d555f08457a8cef1fb3a22e09d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c598d555f08457a8cef1fb3a22e09d5.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-6b3eb5d9565d4d85b47ea664b13c670c.html" target="element"> Layanan Pesan </a> </td>
																		<td> <a href="../elements/id-94725b3467e64290b816237a48b525d6.html" target="element"> MediShop </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1b93cb06f36e468b83090dba3527cba4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b93cb06f36e468b83090dba3527cba4.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-6b3eb5d9565d4d85b47ea664b13c670c.html" target="element"> Layanan Pesan </a> </td>
																		<td> <a href="../elements/id-f5f582f4d6c04984a3a0348881099bd5.html" target="element"> MediSend </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f0c3e074ad814534bd88a12700b768a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f0c3e074ad814534bd88a12700b768a0.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-c16100832e81437fa1e17e22bd782ed1.html" target="element"> Layanan Pengaksesan Data </a> </td>
																		<td> <a href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html" target="element"> HospitalVisit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b29620da0c334ef9a242011f94a798b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b29620da0c334ef9a242011f94a798b6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-c16100832e81437fa1e17e22bd782ed1.html" target="element"> Layanan Pengaksesan Data </a> </td>
																		<td> <a href="../elements/id-94725b3467e64290b816237a48b525d6.html" target="element"> MediShop </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9431e28a3abd4474a88d4bd902d7ab60.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9431e28a3abd4474a88d4bd902d7ab60.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-c16100832e81437fa1e17e22bd782ed1.html" target="element"> Layanan Pengaksesan Data </a> </td>
																		<td> <a href="../elements/id-f5f582f4d6c04984a3a0348881099bd5.html" target="element"> MediSend </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-be9e07747c8044649c6a0b6474852bd9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be9e07747c8044649c6a0b6474852bd9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-50732ae5fc0a45faa62648151a4ebfbc.html" target="element"> Server Utama </a> </td>
																		<td> <a href="../elements/id-b0fc8dea0d5740e9ba913e7541c2926a.html" target="element"> AyoSehat Database Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ecbac1fa9374410c8c8d3b73780f9c21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ecbac1fa9374410c8c8d3b73780f9c21.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-50732ae5fc0a45faa62648151a4ebfbc.html" target="element"> Server Utama </a> </td>
																		<td> <a href="../elements/id-1b280b52c6c945699de5539e49126ded.html" target="element"> AyoSehat Application Server </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-18aea0b36fb24e8daa80e7550730a4e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-18aea0b36fb24e8daa80e7550730a4e2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-1b280b52c6c945699de5539e49126ded.html" target="element"> AyoSehat Application Server </a> </td>
																				<td> <a href="../elements/id-41b848e33bf641b3b6438217a9d10ae6.html" target="element"> Windows Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a51b98bc337a4fae89d705e141903a66.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a51b98bc337a4fae89d705e141903a66.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-1b280b52c6c945699de5539e49126ded.html" target="element"> AyoSehat Application Server </a> </td>
																				<td> <a href="../elements/id-dececbebbc814c7687cfa06332d9bc01.html" target="element"> Monitoring MIS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4b360d47182f4b05937b3ec71e223fe8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b360d47182f4b05937b3ec71e223fe8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-1b280b52c6c945699de5539e49126ded.html" target="element"> AyoSehat Application Server </a> </td>
																				<td> <a href="../elements/id-6b3eb5d9565d4d85b47ea664b13c670c.html" target="element"> Layanan Pesan </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-358fc22a2f6b4b7188d0241ae4f871d1.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-358fc22a2f6b4b7188d0241ae4f871d1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/id-41b848e33bf641b3b6438217a9d10ae6.html" target="element"> Windows Server </a> </td>
																						<td> <a href="../elements/id-3ea3e2d69e7b499eb713f7e43360d8f7.html" target="element"> Message Queuing </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-a93af82c7d1d4461b454eab10f679aaa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a93af82c7d1d4461b454eab10f679aaa.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-b0fc8dea0d5740e9ba913e7541c2926a.html" target="element"> AyoSehat Database Server </a> </td>
																				<td> <a href="../elements/id-ef2aefff3b964140bb8e7a7a2fe04b6c.html" target="element"> DBMS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7b3e41255eed4f228d93a1aee1dcf3f4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b3e41255eed4f228d93a1aee1dcf3f4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-b0fc8dea0d5740e9ba913e7541c2926a.html" target="element"> AyoSehat Database Server </a> </td>
																				<td> <a href="../elements/id-0bc77fb4c8044a1483cd9ee6e631e402.html" target="element"> Red Hat Linux </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-57b57e9b6d034023a6c1edda73be6cef.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-57b57e9b6d034023a6c1edda73be6cef.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-b0fc8dea0d5740e9ba913e7541c2926a.html" target="element"> AyoSehat Database Server </a> </td>
																				<td> <a href="../elements/id-c16100832e81437fa1e17e22bd782ed1.html" target="element"> Layanan Pengaksesan Data </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>