<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>03 Solution Concept Diagram</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>03 Solution Concept Diagram</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-45eedb8c18ff41b4a7a2776dd0e6acb3.png" alt="03 Solution Concept Diagram" usemap="#id-45eedb8c18ff41b4a7a2776dd0e6acb3map"/>
			   <map name="id-45eedb8c18ff41b4a7a2776dd0e6acb3map">
				  		<area shape="rect" coords="994,123,1114,178" href="../elements/id-1262e5419df04b589ec21ca66d6b4e82.html"  target="element">
				  		<area shape="rect" coords="706,123,826,178" href="../elements/id-b5ba5c1cc20d4857a6d0c9e458700522.html"  target="element">
				  		<area shape="rect" coords="994,10,1114,65" href="../elements/id-f5f582f4d6c04984a3a0348881099bd5.html"  target="element">
				  		<area shape="rect" coords="706,10,826,65" href="../elements/id-94725b3467e64290b816237a48b525d6.html"  target="element">
				  		<area shape="rect" coords="406,123,526,178" href="../elements/id-72bdfa1da8fa4174970902203b259b34.html"  target="element">
				  		<area shape="rect" coords="406,10,526,65" href="../elements/id-4db246c66f4345acabc23bd087920b10.html"  target="element">
				  		<area shape="rect" coords="118,123,238,178" href="../elements/id-fe5945a6fb7946e196fa6620b9f9c2eb.html"  target="element">
				  		<area shape="rect" coords="118,10,238,65" href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html"  target="element">
				  		<area shape="rect" coords="533,675,725,746" href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html"  target="element">
				  						<area shape="rect" coords="982,423,1127,496" href="../elements/id-ebcf7c989e3c4446a0e56bbab425e2f4.html"  target="element">
				  						<area shape="rect" coords="694,423,839,496" href="../elements/id-2cda20585b8740a1a18d2de42446b6a1.html"  target="element">
				  						<area shape="rect" coords="394,423,539,496" href="../elements/id-3ddcedf2c650466e9f758fe43cd9213b.html"  target="element">
				  						<area shape="rect" coords="106,423,251,496" href="../elements/id-a7fa2b101be64aef896b28484866df85.html"  target="element">

				  				<area shape="rect" coords="70,303,1187,556" href="../elements/id-d634077e02134288a778ae3fa27d12b7.html"  target="element">

				  		<area shape="rect" coords="10,231,1247,604" href="../elements/id-4eb2cc7d806d4638b0379a23a13bcfd1.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Solution concept diagram atau diagram konsep solusi bertujuan untuk membagikan visi awal kepada seluruh stakeholder dengan menyediakan informasi umum mengenai perubahan yang akan diimplementasikan melalui architecture enterprise. Informasi yang terdapat dalam diagram ini berupa sasaran (goal), pengaturan, serta arsitektur bisnis dan aplikasi.
Diagram konsep solusi yang telah kami buat terdiri dari elemen Application Component, Application Service, Requirement, serta Goal.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4eb2cc7d806d4638b0379a23a13bcfd1.html" target="element"> Mempertahankan Data Secara Terpusat </a> </td>
											    <td> <a href="../elements/id-4eb2cc7d806d4638b0379a23a13bcfd1.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d634077e02134288a778ae3fa27d12b7.html" target="element"> Koneksi ERP Akuntansi </a> </td>
													    <td> <a href="../elements/id-d634077e02134288a778ae3fa27d12b7.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-a7fa2b101be64aef896b28484866df85.html" target="element"> Otomatisasi Proses Reservasi Pelayanan Kesehatan </a> </td>
															    <td> <a href="../elements/id-a7fa2b101be64aef896b28484866df85.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3ddcedf2c650466e9f758fe43cd9213b.html" target="element"> Otomatisasi Proses Konsultasi </a> </td>
															    <td> <a href="../elements/id-3ddcedf2c650466e9f758fe43cd9213b.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2cda20585b8740a1a18d2de42446b6a1.html" target="element"> Otomatisasi Proses Pemesanan Obat </a> </td>
															    <td> <a href="../elements/id-2cda20585b8740a1a18d2de42446b6a1.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ebcf7c989e3c4446a0e56bbab425e2f4.html" target="element"> Otomatisasi Proses Penerimaan Obat </a> </td>
															    <td> <a href="../elements/id-ebcf7c989e3c4446a0e56bbab425e2f4.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element"> Desa_Sehat_Dan_Sejahtera </a> </td>
											    <td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html" target="element"> HospitalVisit </a> </td>
											    <td> <a href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fe5945a6fb7946e196fa6620b9f9c2eb.html" target="element"> Membuat janji temu </a> </td>
											    <td> <a href="../elements/id-fe5945a6fb7946e196fa6620b9f9c2eb.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4db246c66f4345acabc23bd087920b10.html" target="element"> ChatDoctor </a> </td>
											    <td> <a href="../elements/id-4db246c66f4345acabc23bd087920b10.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-72bdfa1da8fa4174970902203b259b34.html" target="element"> Online Chatting </a> </td>
											    <td> <a href="../elements/id-72bdfa1da8fa4174970902203b259b34.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-94725b3467e64290b816237a48b525d6.html" target="element"> MediShop </a> </td>
											    <td> <a href="../elements/id-94725b3467e64290b816237a48b525d6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f5f582f4d6c04984a3a0348881099bd5.html" target="element"> MediSend </a> </td>
											    <td> <a href="../elements/id-f5f582f4d6c04984a3a0348881099bd5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b5ba5c1cc20d4857a6d0c9e458700522.html" target="element"> Memesan obat </a> </td>
											    <td> <a href="../elements/id-b5ba5c1cc20d4857a6d0c9e458700522.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1262e5419df04b589ec21ca66d6b4e82.html" target="element"> Obat diantar ke rumah </a> </td>
											    <td> <a href="../elements/id-1262e5419df04b589ec21ca66d6b4e82.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a96635821fb842a28bb69fdceb2ac8d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a96635821fb842a28bb69fdceb2ac8d3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-4eb2cc7d806d4638b0379a23a13bcfd1.html" target="element"> Mempertahankan Data Secara Terpusat </a> </td>
																		<td> <a href="../elements/id-d634077e02134288a778ae3fa27d12b7.html" target="element"> Koneksi ERP Akuntansi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78853572974d4b8196a02d1a038663e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78853572974d4b8196a02d1a038663e3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-4eb2cc7d806d4638b0379a23a13bcfd1.html" target="element"> Mempertahankan Data Secara Terpusat </a> </td>
																		<td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element"> Desa_Sehat_Dan_Sejahtera </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-17925bd28abc48689120fbc77fe9e93f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-17925bd28abc48689120fbc77fe9e93f.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/id-d634077e02134288a778ae3fa27d12b7.html" target="element"> Koneksi ERP Akuntansi </a> </td>
																				<td> <a href="../elements/id-a7fa2b101be64aef896b28484866df85.html" target="element"> Otomatisasi Proses Reservasi Pelayanan Kesehatan </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7f9f3d5116b446519c03e1f5c453e411.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7f9f3d5116b446519c03e1f5c453e411.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/id-d634077e02134288a778ae3fa27d12b7.html" target="element"> Koneksi ERP Akuntansi </a> </td>
																				<td> <a href="../elements/id-ebcf7c989e3c4446a0e56bbab425e2f4.html" target="element"> Otomatisasi Proses Penerimaan Obat </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3d3de6e4f6504d61b17fc58ded1ea847.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3d3de6e4f6504d61b17fc58ded1ea847.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/id-d634077e02134288a778ae3fa27d12b7.html" target="element"> Koneksi ERP Akuntansi </a> </td>
																				<td> <a href="../elements/id-3ddcedf2c650466e9f758fe43cd9213b.html" target="element"> Otomatisasi Proses Konsultasi </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5000a59548754dc7bb7492ba8cde6277.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5000a59548754dc7bb7492ba8cde6277.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/id-d634077e02134288a778ae3fa27d12b7.html" target="element"> Koneksi ERP Akuntansi </a> </td>
																				<td> <a href="../elements/id-2cda20585b8740a1a18d2de42446b6a1.html" target="element"> Otomatisasi Proses Pemesanan Obat </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-738cebd37386470591cac85a6bf3e41f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-738cebd37386470591cac85a6bf3e41f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html" target="element"> HospitalVisit </a> </td>
																		<td> <a href="../elements/id-fe5945a6fb7946e196fa6620b9f9c2eb.html" target="element"> Membuat janji temu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-aeccaecb5f7a4aa8bb1f4641544f069d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aeccaecb5f7a4aa8bb1f4641544f069d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-fe5945a6fb7946e196fa6620b9f9c2eb.html" target="element"> Membuat janji temu </a> </td>
																		<td> <a href="../elements/id-a7fa2b101be64aef896b28484866df85.html" target="element"> Otomatisasi Proses Reservasi Pelayanan Kesehatan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ab5850b93eaf408aabfb14963ad92d19.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab5850b93eaf408aabfb14963ad92d19.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-4db246c66f4345acabc23bd087920b10.html" target="element"> ChatDoctor </a> </td>
																		<td> <a href="../elements/id-72bdfa1da8fa4174970902203b259b34.html" target="element"> Online Chatting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4169b57c55384fe991102c298522f34f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4169b57c55384fe991102c298522f34f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-72bdfa1da8fa4174970902203b259b34.html" target="element"> Online Chatting </a> </td>
																		<td> <a href="../elements/id-3ddcedf2c650466e9f758fe43cd9213b.html" target="element"> Otomatisasi Proses Konsultasi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f1dc98605485495cb53a3919926cb362.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f1dc98605485495cb53a3919926cb362.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-94725b3467e64290b816237a48b525d6.html" target="element"> MediShop </a> </td>
																		<td> <a href="../elements/id-b5ba5c1cc20d4857a6d0c9e458700522.html" target="element"> Memesan obat </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-96c079c003bd4eee8d23f48036659a29.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96c079c003bd4eee8d23f48036659a29.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-f5f582f4d6c04984a3a0348881099bd5.html" target="element"> MediSend </a> </td>
																		<td> <a href="../elements/id-1262e5419df04b589ec21ca66d6b4e82.html" target="element"> Obat diantar ke rumah </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f2dfc9fb94b54c0b8f5d42b41f59134a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f2dfc9fb94b54c0b8f5d42b41f59134a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-b5ba5c1cc20d4857a6d0c9e458700522.html" target="element"> Memesan obat </a> </td>
																		<td> <a href="../elements/id-2cda20585b8740a1a18d2de42446b6a1.html" target="element"> Otomatisasi Proses Pemesanan Obat </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6de1cc7080464fd5a9d18794f1397ddc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6de1cc7080464fd5a9d18794f1397ddc.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-1262e5419df04b589ec21ca66d6b4e82.html" target="element"> Obat diantar ke rumah </a> </td>
																		<td> <a href="../elements/id-ebcf7c989e3c4446a0e56bbab425e2f4.html" target="element"> Otomatisasi Proses Penerimaan Obat </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>