<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01 Stakeholder Diagram</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01 Stakeholder Diagram</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7526c95ce6a04ce4babd6c3054085855.png" alt="01 Stakeholder Diagram" usemap="#id-7526c95ce6a04ce4babd6c3054085855map"/>
			   <map name="id-7526c95ce6a04ce4babd6c3054085855map">
				  		<area shape="rect" coords="553,322,568,337" href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html"  target="element">
				  		<area shape="rect" coords="205,610,350,665" href="../elements/id-367e47ad7f2648b7b05e1ed32abd7ccf.html"  target="element">
				  		<area shape="rect" coords="205,526,350,581" href="../elements/id-67d29978e8a2442c9a3161794632f29a.html"  target="element">
				  		<area shape="rect" coords="205,436,350,491" href="../elements/id-d8d79f1617e64dfeafef8d55959e3a08.html"  target="element">
				  		<area shape="rect" coords="205,346,350,401" href="../elements/id-d61089e9f828424e94d8fa238b8b7a13.html"  target="element">
				  		<area shape="rect" coords="11,94,131,149" href="../elements/id-546f9c1b41794b9383ff548198af5a5c.html"  target="element">
				  		<area shape="rect" coords="205,262,350,317" href="../elements/id-0e50ac5e6fb442ea9208923d6c8dc16a.html"  target="element">
				  		<area shape="rect" coords="205,94,350,149" href="../elements/id-f3c11e6f2edd42f1b258fc0c625a6939.html"  target="element">
				  		<area shape="rect" coords="205,178,350,233" href="../elements/id-2fb0cdcbd6d345669e4f70e0d1fccc39.html"  target="element">
				  		<area shape="rect" coords="205,10,350,65" href="../elements/id-70eda0fabc2f4a68b4a69fae17475d3d.html"  target="element">
				  		<area shape="rect" coords="721,302,854,357" href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html"  target="element">
				  		<area shape="rect" coords="12,526,132,581" href="../elements/id-47ae7ceeb0db4fedaacea68c880543b5.html"  target="element">
				  		<area shape="rect" coords="13,10,133,65" href="../elements/id-ac09e95b497445cfb5ec3fa6e88d4b10.html"  target="element">
				  		<area shape="rect" coords="11,178,131,233" href="../elements/id-cb78c6e616c3461ebdc599f8e1677d48.html"  target="element">
				  		<area shape="rect" coords="13,610,133,665" href="../elements/id-50497596644d4789a9cf4ce8f66d712e.html"  target="element">
				  		<area shape="rect" coords="13,346,133,401" href="../elements/id-748808e2d42c493797658777fbaf6df4.html"  target="element">
				  		<area shape="rect" coords="10,436,130,491" href="../elements/id-e32353fc2e75439e9fdf78e456d0a323.html"  target="element">
				  		<area shape="rect" coords="13,262,133,317" href="../elements/id-79c65c4b4ff74ec586ec0d7551d6d582.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Stakeholder diagram atau diagram pemangku kepentingan bertujuan untuk menjelaskan petinggi-petinggi yang berpartisipasi dalam pembuatan architecture enterprise untuk membantu pelaksanaan siklus ADM serta menentukan artefak apa yang harus dibuat dan oleh siapa. Informasi yang terdapat dalam diagram ini berupa siapa saja pemangku kepentingan dan sumberdaya manusia dalam perusahaan (enterprise).
Diagram pemangku kepentingan yang telah kami buat terdiri dari elemen Stakeholder, Assessment, dan Goal.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-79c65c4b4ff74ec586ec0d7551d6d582.html" target="element"> Camat </a> </td>
											    <td> <a href="../elements/id-79c65c4b4ff74ec586ec0d7551d6d582.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e32353fc2e75439e9fdf78e456d0a323.html" target="element"> Ketua RT </a> </td>
											    <td> <a href="../elements/id-e32353fc2e75439e9fdf78e456d0a323.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-748808e2d42c493797658777fbaf6df4.html" target="element"> Lurah </a> </td>
											    <td> <a href="../elements/id-748808e2d42c493797658777fbaf6df4.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-50497596644d4789a9cf4ce8f66d712e.html" target="element"> Masyarakat </a> </td>
											    <td> <a href="../elements/id-50497596644d4789a9cf4ce8f66d712e.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cb78c6e616c3461ebdc599f8e1677d48.html" target="element"> Pemerintah Daerah </a> </td>
											    <td> <a href="../elements/id-cb78c6e616c3461ebdc599f8e1677d48.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac09e95b497445cfb5ec3fa6e88d4b10.html" target="element"> Pemerintah Pusat </a> </td>
											    <td> <a href="../elements/id-ac09e95b497445cfb5ec3fa6e88d4b10.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47ae7ceeb0db4fedaacea68c880543b5.html" target="element"> Tenaga Kesehatan </a> </td>
											    <td> <a href="../elements/id-47ae7ceeb0db4fedaacea68c880543b5.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element"> Desa_Sehat_Dan_Sejahtera </a> </td>
											    <td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70eda0fabc2f4a68b4a69fae17475d3d.html" target="element"> Membuat kebijakan </a> </td>
											    <td> <a href="../elements/id-70eda0fabc2f4a68b4a69fae17475d3d.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2fb0cdcbd6d345669e4f70e0d1fccc39.html" target="element"> Mendistribusikan kebijakan pemerintah pusat </a> </td>
											    <td> <a href="../elements/id-2fb0cdcbd6d345669e4f70e0d1fccc39.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3c11e6f2edd42f1b258fc0c625a6939.html" target="element"> Memastikan kebijakan sesuai standar </a> </td>
											    <td> <a href="../elements/id-f3c11e6f2edd42f1b258fc0c625a6939.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e50ac5e6fb442ea9208923d6c8dc16a.html" target="element"> Mengoordinasikan penerapan kebijakan </a> </td>
											    <td> <a href="../elements/id-0e50ac5e6fb442ea9208923d6c8dc16a.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-546f9c1b41794b9383ff548198af5a5c.html" target="element"> Akademisi dan Pakar </a> </td>
											    <td> <a href="../elements/id-546f9c1b41794b9383ff548198af5a5c.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d61089e9f828424e94d8fa238b8b7a13.html" target="element"> Melaksanakan pembangunan di bidang kesehatan </a> </td>
											    <td> <a href="../elements/id-d61089e9f828424e94d8fa238b8b7a13.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d8d79f1617e64dfeafef8d55959e3a08.html" target="element"> Mengayomi masyarakat </a> </td>
											    <td> <a href="../elements/id-d8d79f1617e64dfeafef8d55959e3a08.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-67d29978e8a2442c9a3161794632f29a.html" target="element"> Memastikan pasien menerima layanan sesuai standar </a> </td>
											    <td> <a href="../elements/id-67d29978e8a2442c9a3161794632f29a.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-367e47ad7f2648b7b05e1ed32abd7ccf.html" target="element"> Berpartisipasi aktif dalam program kesehatan </a> </td>
											    <td> <a href="../elements/id-367e47ad7f2648b7b05e1ed32abd7ccf.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d843515e39bc439e97bbab11bcf6e1a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d843515e39bc439e97bbab11bcf6e1a9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-79c65c4b4ff74ec586ec0d7551d6d582.html" target="element"> Camat </a> </td>
																		<td> <a href="../elements/id-0e50ac5e6fb442ea9208923d6c8dc16a.html" target="element"> Mengoordinasikan penerapan kebijakan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6be1732dcfa34a5a8cea66f8edfd0eb5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6be1732dcfa34a5a8cea66f8edfd0eb5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-79c65c4b4ff74ec586ec0d7551d6d582.html" target="element"> Camat </a> </td>
																		<td> <a href="../elements/id-748808e2d42c493797658777fbaf6df4.html" target="element"> Lurah </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ec86a207373b472a810121299e58f938.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ec86a207373b472a810121299e58f938.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-e32353fc2e75439e9fdf78e456d0a323.html" target="element"> Ketua RT </a> </td>
																		<td> <a href="../elements/id-d8d79f1617e64dfeafef8d55959e3a08.html" target="element"> Mengayomi masyarakat </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-672ba5824a434a1ea3844a25335b2416.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-672ba5824a434a1ea3844a25335b2416.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-e32353fc2e75439e9fdf78e456d0a323.html" target="element"> Ketua RT </a> </td>
																		<td> <a href="../elements/id-47ae7ceeb0db4fedaacea68c880543b5.html" target="element"> Tenaga Kesehatan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-52f0ae55cc2d4f0a94525869c1bc96fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-52f0ae55cc2d4f0a94525869c1bc96fd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-748808e2d42c493797658777fbaf6df4.html" target="element"> Lurah </a> </td>
																		<td> <a href="../elements/id-e32353fc2e75439e9fdf78e456d0a323.html" target="element"> Ketua RT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c88eb02801f241c7bb361f8d8d20825c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c88eb02801f241c7bb361f8d8d20825c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-748808e2d42c493797658777fbaf6df4.html" target="element"> Lurah </a> </td>
																		<td> <a href="../elements/id-d61089e9f828424e94d8fa238b8b7a13.html" target="element"> Melaksanakan pembangunan di bidang kesehatan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-122437b687d54e4ba11ecce5774f549a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-122437b687d54e4ba11ecce5774f549a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-50497596644d4789a9cf4ce8f66d712e.html" target="element"> Masyarakat </a> </td>
																		<td> <a href="../elements/id-367e47ad7f2648b7b05e1ed32abd7ccf.html" target="element"> Berpartisipasi aktif dalam program kesehatan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-da695bd76fdb4527b394419340e4dea6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da695bd76fdb4527b394419340e4dea6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-cb78c6e616c3461ebdc599f8e1677d48.html" target="element"> Pemerintah Daerah </a> </td>
																		<td> <a href="../elements/id-2fb0cdcbd6d345669e4f70e0d1fccc39.html" target="element"> Mendistribusikan kebijakan pemerintah pusat </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0afe1845cad54b7c843b8c541cc35bdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0afe1845cad54b7c843b8c541cc35bdf.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-cb78c6e616c3461ebdc599f8e1677d48.html" target="element"> Pemerintah Daerah </a> </td>
																		<td> <a href="../elements/id-79c65c4b4ff74ec586ec0d7551d6d582.html" target="element"> Camat </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a81a722647e149ea96e22236bd4ccc2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a81a722647e149ea96e22236bd4ccc2f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-ac09e95b497445cfb5ec3fa6e88d4b10.html" target="element"> Pemerintah Pusat </a> </td>
																		<td> <a href="../elements/id-546f9c1b41794b9383ff548198af5a5c.html" target="element"> Akademisi dan Pakar </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5a563828d8b444b1a97cd921ce19a759.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a563828d8b444b1a97cd921ce19a759.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-ac09e95b497445cfb5ec3fa6e88d4b10.html" target="element"> Pemerintah Pusat </a> </td>
																		<td> <a href="../elements/id-70eda0fabc2f4a68b4a69fae17475d3d.html" target="element"> Membuat kebijakan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7f20f69709794ba39759040d0c01589d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7f20f69709794ba39759040d0c01589d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-47ae7ceeb0db4fedaacea68c880543b5.html" target="element"> Tenaga Kesehatan </a> </td>
																		<td> <a href="../elements/id-67d29978e8a2442c9a3161794632f29a.html" target="element"> Memastikan pasien menerima layanan sesuai standar </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5da135a40c5f4ed5a95bf893884abbf4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5da135a40c5f4ed5a95bf893884abbf4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-47ae7ceeb0db4fedaacea68c880543b5.html" target="element"> Tenaga Kesehatan </a> </td>
																		<td> <a href="../elements/id-50497596644d4789a9cf4ce8f66d712e.html" target="element"> Masyarakat </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6a05c60e2cf54640afe2c01e816b6c59.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a05c60e2cf54640afe2c01e816b6c59.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-70eda0fabc2f4a68b4a69fae17475d3d.html" target="element"> Membuat kebijakan </a> </td>
																		<td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-37ed88823105460ab6b8452fba1870f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37ed88823105460ab6b8452fba1870f8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2fb0cdcbd6d345669e4f70e0d1fccc39.html" target="element"> Mendistribusikan kebijakan pemerintah pusat </a> </td>
																		<td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-56f970c288d241898aed08df26642931.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-56f970c288d241898aed08df26642931.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f3c11e6f2edd42f1b258fc0c625a6939.html" target="element"> Memastikan kebijakan sesuai standar </a> </td>
																		<td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c04f9cf45df94f50a9ca6cfe3d8b28a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c04f9cf45df94f50a9ca6cfe3d8b28a6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0e50ac5e6fb442ea9208923d6c8dc16a.html" target="element"> Mengoordinasikan penerapan kebijakan </a> </td>
																		<td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4acc7fc07fca4db099ef13afb5a455c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4acc7fc07fca4db099ef13afb5a455c3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-546f9c1b41794b9383ff548198af5a5c.html" target="element"> Akademisi dan Pakar </a> </td>
																		<td> <a href="../elements/id-cb78c6e616c3461ebdc599f8e1677d48.html" target="element"> Pemerintah Daerah </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-00e783352a9642f88b8dfba3c99594ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00e783352a9642f88b8dfba3c99594ed.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-546f9c1b41794b9383ff548198af5a5c.html" target="element"> Akademisi dan Pakar </a> </td>
																		<td> <a href="../elements/id-f3c11e6f2edd42f1b258fc0c625a6939.html" target="element"> Memastikan kebijakan sesuai standar </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ac71f0c6d27e4cfa95f37c793bd6b9c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac71f0c6d27e4cfa95f37c793bd6b9c4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-d61089e9f828424e94d8fa238b8b7a13.html" target="element"> Melaksanakan pembangunan di bidang kesehatan </a> </td>
																		<td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d7f97253f9694d7ca50c40b57d6924a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7f97253f9694d7ca50c40b57d6924a3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-d8d79f1617e64dfeafef8d55959e3a08.html" target="element"> Mengayomi masyarakat </a> </td>
																		<td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4b05aa73be3f4c109d584772b89479c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b05aa73be3f4c109d584772b89479c8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-67d29978e8a2442c9a3161794632f29a.html" target="element"> Memastikan pasien menerima layanan sesuai standar </a> </td>
																		<td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-778cd035ffae4c118c88f7d3bd7c6253.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-778cd035ffae4c118c88f7d3bd7c6253.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-367e47ad7f2648b7b05e1ed32abd7ccf.html" target="element"> Berpartisipasi aktif dalam program kesehatan </a> </td>
																		<td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b1fb7212fdb748b7abd3b7bb4fb73b49.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1fb7212fdb748b7abd3b7bb4fb73b49.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element"> Desa_Sehat_Dan_Sejahtera </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>