<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02 Goal Diagram</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02 Goal Diagram</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a792e008b4be497c8aaaaaa6aa0ce73b.png" alt="02 Goal Diagram" usemap="#id-a792e008b4be497c8aaaaaa6aa0ce73bmap"/>
			   <map name="id-a792e008b4be497c8aaaaaa6aa0ce73bmap">
				  		<area shape="rect" coords="10,579,130,634" href="../elements/id-47ae7ceeb0db4fedaacea68c880543b5.html"  target="element">
				  		<area shape="rect" coords="317,386,332,401" href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html"  target="element">
				  		<area shape="rect" coords="11,159,131,214" href="../elements/id-546f9c1b41794b9383ff548198af5a5c.html"  target="element">
				  		<area shape="rect" coords="11,329,131,384" href="../elements/id-79c65c4b4ff74ec586ec0d7551d6d582.html"  target="element">
				  		<area shape="rect" coords="1061,712,1241,772" href="../elements/id-d75e378a7a2f49de9e017267a2dfbb7b.html"  target="element">
				  		<area shape="rect" coords="1061,394,1242,449" href="../elements/id-195e1d6ae9e243ae961be7a47a91e596.html"  target="element">
				  		<area shape="rect" coords="1061,544,1241,629" href="../elements/id-f75a1a6ce7844b708ce5638201f454a9.html"  target="element">
				  		<area shape="rect" coords="1062,640,1242,701" href="../elements/id-995157070081412baf3057fa97df896a.html"  target="element">
				  		<area shape="rect" coords="1061,460,1241,532" href="../elements/id-5ffeab34f138411c875ba88cd42d1c65.html"  target="element">
				  		<area shape="rect" coords="10,663,130,718" href="../elements/id-50497596644d4789a9cf4ce8f66d712e.html"  target="element">
				  		<area shape="rect" coords="11,494,131,549" href="../elements/id-e32353fc2e75439e9fdf78e456d0a323.html"  target="element">
				  		<area shape="rect" coords="11,411,131,466" href="../elements/id-748808e2d42c493797658777fbaf6df4.html"  target="element">
				  		<area shape="rect" coords="11,243,131,298" href="../elements/id-cb78c6e616c3461ebdc599f8e1677d48.html"  target="element">
				  		<area shape="rect" coords="11,74,131,129" href="../elements/id-ac09e95b497445cfb5ec3fa6e88d4b10.html"  target="element">
				  		<area shape="rect" coords="1060,316,1240,371" href="../elements/id-27ceec82fbd9452f85e9e295192c2063.html"  target="element">
				  		<area shape="rect" coords="1060,10,1241,65" href="../elements/id-34126962e61a472e91e01c36de5c1b77.html"  target="element">
				  		<area shape="rect" coords="1060,142,1240,233" href="../elements/id-dadca919d3ca4466b869fabb60c6a7e4.html"  target="element">
				  		<area shape="rect" coords="1060,244,1240,304" href="../elements/id-11981b795b94453aac81e3e9dca9051a.html"  target="element">
				  		<area shape="rect" coords="1060,76,1240,131" href="../elements/id-72cadbb57a59415582577db92f7daede.html"  target="element">
				  		<area shape="rect" coords="449,339,648,449" href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Goal diagram atau diagram sasaran bertujuan untuk menjelaskan sasaran atau tujuan yang akan memandu perubahan pada perusahaan dan sistem informasi yang digunakan, mengidentifikasi tujuan dan alokasinya, dan menyediakan landasan untuk menentukan tingkat prioritas sasaran/tujuan. Informasi yang terdapat dalam diagram ini berupa sasaran (goal) dan tujuan (outcome) yang telah ditetapkan perusahaan.
Diagram sasaran yang telah kami buat terdiri dari elemen Stakeholder, Outcome, serta Goal.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element"> Desa_Sehat_Dan_Sejahtera </a> </td>
											    <td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-72cadbb57a59415582577db92f7daede.html" target="element"> Unmeet need pelayanan kesehatan mencapai 0 persen </a> </td>
											    <td> <a href="../elements/id-72cadbb57a59415582577db92f7daede.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-11981b795b94453aac81e3e9dca9051a.html" target="element"> Angka kematian ibu per 100 ribu kelahiran hidup mencapai 0 </a> </td>
											    <td> <a href="../elements/id-11981b795b94453aac81e3e9dca9051a.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dadca919d3ca4466b869fabb60c6a7e4.html" target="element"> Persentase persalinan di fasilitas pelayanan kesehatan dan menggunakan tenaga kesehatan </a> </td>
											    <td> <a href="../elements/id-dadca919d3ca4466b869fabb60c6a7e4.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-34126962e61a472e91e01c36de5c1b77.html" target="element"> BPJS Kesehatan mencapai 100 persen penduduk </a> </td>
											    <td> <a href="../elements/id-34126962e61a472e91e01c36de5c1b77.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-27ceec82fbd9452f85e9e295192c2063.html" target="element"> Angka kematian bayi per 1000 kelahiran hidup mencapai 0 </a> </td>
											    <td> <a href="../elements/id-27ceec82fbd9452f85e9e295192c2063.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac09e95b497445cfb5ec3fa6e88d4b10.html" target="element"> Pemerintah Pusat </a> </td>
											    <td> <a href="../elements/id-ac09e95b497445cfb5ec3fa6e88d4b10.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cb78c6e616c3461ebdc599f8e1677d48.html" target="element"> Pemerintah Daerah </a> </td>
											    <td> <a href="../elements/id-cb78c6e616c3461ebdc599f8e1677d48.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-748808e2d42c493797658777fbaf6df4.html" target="element"> Lurah </a> </td>
											    <td> <a href="../elements/id-748808e2d42c493797658777fbaf6df4.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e32353fc2e75439e9fdf78e456d0a323.html" target="element"> Ketua RT </a> </td>
											    <td> <a href="../elements/id-e32353fc2e75439e9fdf78e456d0a323.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-50497596644d4789a9cf4ce8f66d712e.html" target="element"> Masyarakat </a> </td>
											    <td> <a href="../elements/id-50497596644d4789a9cf4ce8f66d712e.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5ffeab34f138411c875ba88cd42d1c65.html" target="element"> Prevalensi HIV_TBC_Tekanan darah tinggi_obesitas_narkoba mencapai 0 persen </a> </td>
											    <td> <a href="../elements/id-5ffeab34f138411c875ba88cd42d1c65.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-995157070081412baf3057fa97df896a.html" target="element"> Persentase perokok kurang dari 18 tahun mencapai 0 persen </a> </td>
											    <td> <a href="../elements/id-995157070081412baf3057fa97df896a.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f75a1a6ce7844b708ce5638201f454a9.html" target="element"> Jumlah RT yang menjalankan eliminasi malaria_kusta_filariasis kaki gajah mencapai 100 persen </a> </td>
											    <td> <a href="../elements/id-f75a1a6ce7844b708ce5638201f454a9.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-195e1d6ae9e243ae961be7a47a91e596.html" target="element"> Imunisasi dasar lengkap pada bayi mencapai 100 persen </a> </td>
											    <td> <a href="../elements/id-195e1d6ae9e243ae961be7a47a91e596.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d75e378a7a2f49de9e017267a2dfbb7b.html" target="element"> Posyandu yang menangani kesehatan jiwa pada 100 persen RT </a> </td>
											    <td> <a href="../elements/id-d75e378a7a2f49de9e017267a2dfbb7b.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-79c65c4b4ff74ec586ec0d7551d6d582.html" target="element"> Camat </a> </td>
											    <td> <a href="../elements/id-79c65c4b4ff74ec586ec0d7551d6d582.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-546f9c1b41794b9383ff548198af5a5c.html" target="element"> Akademisi dan Pakar </a> </td>
											    <td> <a href="../elements/id-546f9c1b41794b9383ff548198af5a5c.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47ae7ceeb0db4fedaacea68c880543b5.html" target="element"> Tenaga Kesehatan </a> </td>
											    <td> <a href="../elements/id-47ae7ceeb0db4fedaacea68c880543b5.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-450980adc5634b5b9e438ffc97db9e6f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-450980adc5634b5b9e438ffc97db9e6f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-72cadbb57a59415582577db92f7daede.html" target="element"> Unmeet need pelayanan kesehatan mencapai 0 persen </a> </td>
																		<td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element"> Desa_Sehat_Dan_Sejahtera </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8a5fe76ce2ba46efb03bf0aabdcc8aa2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a5fe76ce2ba46efb03bf0aabdcc8aa2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-11981b795b94453aac81e3e9dca9051a.html" target="element"> Angka kematian ibu per 100 ribu kelahiran hidup mencapai 0 </a> </td>
																		<td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element"> Desa_Sehat_Dan_Sejahtera </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-77436f4ef0404a5d9fb3c0440abf179f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-77436f4ef0404a5d9fb3c0440abf179f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-dadca919d3ca4466b869fabb60c6a7e4.html" target="element"> Persentase persalinan di fasilitas pelayanan kesehatan dan menggunakan tenaga kesehatan </a> </td>
																		<td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element"> Desa_Sehat_Dan_Sejahtera </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b33867d890a94782915d9b7217807bac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b33867d890a94782915d9b7217807bac.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-34126962e61a472e91e01c36de5c1b77.html" target="element"> BPJS Kesehatan mencapai 100 persen penduduk </a> </td>
																		<td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element"> Desa_Sehat_Dan_Sejahtera </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a7320a27b2864f26be349bf592e83b6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7320a27b2864f26be349bf592e83b6a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-27ceec82fbd9452f85e9e295192c2063.html" target="element"> Angka kematian bayi per 1000 kelahiran hidup mencapai 0 </a> </td>
																		<td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element"> Desa_Sehat_Dan_Sejahtera </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a81a722647e149ea96e22236bd4ccc2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a81a722647e149ea96e22236bd4ccc2f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-ac09e95b497445cfb5ec3fa6e88d4b10.html" target="element"> Pemerintah Pusat </a> </td>
																		<td> <a href="../elements/id-546f9c1b41794b9383ff548198af5a5c.html" target="element"> Akademisi dan Pakar </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0eacd76d100f42899e45b37a5df078e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0eacd76d100f42899e45b37a5df078e6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-ac09e95b497445cfb5ec3fa6e88d4b10.html" target="element"> Pemerintah Pusat </a> </td>
																		<td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fce03c2c2b4a4d5b8607bc328f14abf3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fce03c2c2b4a4d5b8607bc328f14abf3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-cb78c6e616c3461ebdc599f8e1677d48.html" target="element"> Pemerintah Daerah </a> </td>
																		<td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0afe1845cad54b7c843b8c541cc35bdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0afe1845cad54b7c843b8c541cc35bdf.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-cb78c6e616c3461ebdc599f8e1677d48.html" target="element"> Pemerintah Daerah </a> </td>
																		<td> <a href="../elements/id-79c65c4b4ff74ec586ec0d7551d6d582.html" target="element"> Camat </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-52f0ae55cc2d4f0a94525869c1bc96fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-52f0ae55cc2d4f0a94525869c1bc96fd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-748808e2d42c493797658777fbaf6df4.html" target="element"> Lurah </a> </td>
																		<td> <a href="../elements/id-e32353fc2e75439e9fdf78e456d0a323.html" target="element"> Ketua RT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-308212118fe24062b6deda8cb4a092b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-308212118fe24062b6deda8cb4a092b9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-748808e2d42c493797658777fbaf6df4.html" target="element"> Lurah </a> </td>
																		<td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-672ba5824a434a1ea3844a25335b2416.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-672ba5824a434a1ea3844a25335b2416.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-e32353fc2e75439e9fdf78e456d0a323.html" target="element"> Ketua RT </a> </td>
																		<td> <a href="../elements/id-47ae7ceeb0db4fedaacea68c880543b5.html" target="element"> Tenaga Kesehatan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fae5af2abd1b42dc96db0dee1514335e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fae5af2abd1b42dc96db0dee1514335e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-e32353fc2e75439e9fdf78e456d0a323.html" target="element"> Ketua RT </a> </td>
																		<td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-80112c7e05a245d58b2bf1b614f55b52.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80112c7e05a245d58b2bf1b614f55b52.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-50497596644d4789a9cf4ce8f66d712e.html" target="element"> Masyarakat </a> </td>
																		<td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b5c45924ec564b9281b4cf0c6b9f9abe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5c45924ec564b9281b4cf0c6b9f9abe.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-5ffeab34f138411c875ba88cd42d1c65.html" target="element"> Prevalensi HIV_TBC_Tekanan darah tinggi_obesitas_narkoba mencapai 0 persen </a> </td>
																		<td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element"> Desa_Sehat_Dan_Sejahtera </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5c697c0eaacf459eb23fb819048f87ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c697c0eaacf459eb23fb819048f87ef.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-995157070081412baf3057fa97df896a.html" target="element"> Persentase perokok kurang dari 18 tahun mencapai 0 persen </a> </td>
																		<td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element"> Desa_Sehat_Dan_Sejahtera </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e93c16cfc86e428a9ff7498faed8bf38.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e93c16cfc86e428a9ff7498faed8bf38.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-f75a1a6ce7844b708ce5638201f454a9.html" target="element"> Jumlah RT yang menjalankan eliminasi malaria_kusta_filariasis kaki gajah mencapai 100 persen </a> </td>
																		<td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element"> Desa_Sehat_Dan_Sejahtera </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-815b8a3b25ce42bcba92b360c176a309.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-815b8a3b25ce42bcba92b360c176a309.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-195e1d6ae9e243ae961be7a47a91e596.html" target="element"> Imunisasi dasar lengkap pada bayi mencapai 100 persen </a> </td>
																		<td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element"> Desa_Sehat_Dan_Sejahtera </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-75e1d01e6cf0427688d2255bd7192d36.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75e1d01e6cf0427688d2255bd7192d36.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-d75e378a7a2f49de9e017267a2dfbb7b.html" target="element"> Posyandu yang menangani kesehatan jiwa pada 100 persen RT </a> </td>
																		<td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element"> Desa_Sehat_Dan_Sejahtera </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f7e32787a63945fcb51ff25b07539c14.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7e32787a63945fcb51ff25b07539c14.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-79c65c4b4ff74ec586ec0d7551d6d582.html" target="element"> Camat </a> </td>
																		<td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6be1732dcfa34a5a8cea66f8edfd0eb5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6be1732dcfa34a5a8cea66f8edfd0eb5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-79c65c4b4ff74ec586ec0d7551d6d582.html" target="element"> Camat </a> </td>
																		<td> <a href="../elements/id-748808e2d42c493797658777fbaf6df4.html" target="element"> Lurah </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4acc7fc07fca4db099ef13afb5a455c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4acc7fc07fca4db099ef13afb5a455c3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-546f9c1b41794b9383ff548198af5a5c.html" target="element"> Akademisi dan Pakar </a> </td>
																		<td> <a href="../elements/id-cb78c6e616c3461ebdc599f8e1677d48.html" target="element"> Pemerintah Daerah </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3f005dc336e148bab3350be48490cdb7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f005dc336e148bab3350be48490cdb7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-546f9c1b41794b9383ff548198af5a5c.html" target="element"> Akademisi dan Pakar </a> </td>
																		<td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b1fb7212fdb748b7abd3b7bb4fb73b49.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1fb7212fdb748b7abd3b7bb4fb73b49.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-be1c89ec3b304fb6914e012cc6e5085a.html" target="element"> Desa_Sehat_Dan_Sejahtera </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5da135a40c5f4ed5a95bf893884abbf4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5da135a40c5f4ed5a95bf893884abbf4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-47ae7ceeb0db4fedaacea68c880543b5.html" target="element"> Tenaga Kesehatan </a> </td>
																		<td> <a href="../elements/id-50497596644d4789a9cf4ce8f66d712e.html" target="element"> Masyarakat </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f537ab6c7fc54f8b8dc7e08f81b975c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f537ab6c7fc54f8b8dc7e08f81b975c0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-47ae7ceeb0db4fedaacea68c880543b5.html" target="element"> Tenaga Kesehatan </a> </td>
																		<td> <a href="../elements/id-816c717b8ab9477ea12cc73b55d538ac.html" target="element"> Junction </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>