<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>04 Application Structure Diagram</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>04 Application Structure Diagram</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b27f3d83ad884aa38ebd829c1786bc59.png" alt="04 Application Structure Diagram" usemap="#id-b27f3d83ad884aa38ebd829c1786bc59map"/>
			   <map name="id-b27f3d83ad884aa38ebd829c1786bc59map">
				  				<area shape="rect" coords="368,202,506,257" href="../elements/id-97b4e2154b4d45859d7590d173a58477.html"  target="element">
				  				<area shape="rect" coords="176,130,314,185" href="../elements/id-33b66d2fb88e40a0af21c6412f7f298f.html"  target="element">
				  				<area shape="rect" coords="368,58,506,113" href="../elements/id-34fbaf31a58a4a03ae8cef46b9332819.html"  target="element">
				  				<area shape="rect" coords="368,130,506,185" href="../elements/id-d23951ba78a040bfba649a92dae0c339.html"  target="element">
				  				<area shape="rect" coords="176,202,314,257" href="../elements/id-1e8eaecf7dae40aaa218668f233e1351.html"  target="element">
				  				<area shape="rect" coords="176,58,314,113" href="../elements/id-e26e391842c14930a400fdc0c8e7845e.html"  target="element">

				  		<area shape="rect" coords="128,10,561,299" href="../elements/id-0cbe1df85b78481f959b9a40042e7e9f.html"  target="element">
				  				<area shape="rect" coords="860,202,998,257" href="../elements/id-fc2c2dc257f846109eb1294136f6e79e.html"  target="element">
				  				<area shape="rect" coords="656,130,794,185" href="../elements/id-3bb582dfef3c450b97e3735b86358b9c.html"  target="element">
				  				<area shape="rect" coords="860,58,998,113" href="../elements/id-26b87da8f0114628824ce3db9e1e30f7.html"  target="element">
				  				<area shape="rect" coords="860,130,998,185" href="../elements/id-b7c17d7f481c484aa35d52dbcb098a45.html"  target="element">
				  				<area shape="rect" coords="656,202,794,257" href="../elements/id-1c2a4d9d47184954bb7fb2b876e1c204.html"  target="element">
				  				<area shape="rect" coords="656,58,794,113" href="../elements/id-bdbd4d3caf9a4196aafe6d9d4c1b5bdd.html"  target="element">

				  		<area shape="rect" coords="608,10,1053,299" href="../elements/id-c2e9d4a522b444229f05abc0fdb5eb41.html"  target="element">
				  		<area shape="rect" coords="519,646,639,701" href="../elements/id-4c7b099f2aaf4a949b1c167229dd5d2b.html"  target="element">
				  		<area shape="rect" coords="188,898,308,953" href="../elements/id-cc50247c9aae4e1c8d16fabbd7bb8b3a.html"  target="element">
				  		<area shape="rect" coords="188,646,308,701" href="../elements/id-2c4f31bd789347e6a0984729b7c403eb.html"  target="element">
				  		<area shape="rect" coords="188,814,308,869" href="../elements/id-5fe1481285a94db6ac6dd24efa6c6a42.html"  target="element">
				  		<area shape="rect" coords="884,646,1004,701" href="../elements/id-dc0844b2afa54ee8a206b1187d70edb8.html"  target="element">
				  		<area shape="rect" coords="884,730,1004,785" href="../elements/id-ada0936b0668419ea117ffa3dceb1326.html"  target="element">
				  		<area shape="rect" coords="884,898,1004,953" href="../elements/id-0741f22acb8e4785bca00871f7a2a616.html"  target="element">
				  		<area shape="rect" coords="884,814,1004,869" href="../elements/id-dfccd09b4b5a4b2daa17abad28a4e26b.html"  target="element">
				  		<area shape="rect" coords="519,814,639,869" href="../elements/id-0f7eef5776ea4d749529228829680166.html"  target="element">
				  		<area shape="rect" coords="519,898,639,953" href="../elements/id-9019f0438d6d469787f1b113c068ddff.html"  target="element">
				  		<area shape="rect" coords="519,730,639,785" href="../elements/id-d58c323c549449fc839b53f4ae9b6f38.html"  target="element">
				  		<area shape="rect" coords="188,730,308,785" href="../elements/id-6b30d8d07d17453e9b1f686495a7566e.html"  target="element">
				  				<area shape="rect" coords="200,418,320,497" href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html"  target="element">
				  				<area shape="rect" coords="416,418,536,497" href="../elements/id-4db246c66f4345acabc23bd087920b10.html"  target="element">
				  				<area shape="rect" coords="632,418,752,497" href="../elements/id-94725b3467e64290b816237a48b525d6.html"  target="element">
				  				<area shape="rect" coords="872,418,992,497" href="../elements/id-f5f582f4d6c04984a3a0348881099bd5.html"  target="element">

				  		<area shape="rect" coords="128,358,1053,551" href="../elements/id-70309996c731487e9d9187764070a284.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Application structure diagram atau diagram struktur aplikasi bertujuan untuk merancang atau memahami struktur utama aplikasi atau komponennya beserta data yang berhubungan dengannya. Informasi yang terdapat dalam diagram ini berupa struktur satu atau lebih aplikasi atau komponen aplikasi.
Diagram struktur aplikasi yang telah kami buat terdiri dari elemen Application Interface, Application Component, dan Data Object.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-70309996c731487e9d9187764070a284.html" target="element"> AyoSehat Super App </a> </td>
											    <td> <a href="../elements/id-70309996c731487e9d9187764070a284.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f5f582f4d6c04984a3a0348881099bd5.html" target="element"> MediSend </a> </td>
													    <td> <a href="../elements/id-f5f582f4d6c04984a3a0348881099bd5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-94725b3467e64290b816237a48b525d6.html" target="element"> MediShop </a> </td>
													    <td> <a href="../elements/id-94725b3467e64290b816237a48b525d6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4db246c66f4345acabc23bd087920b10.html" target="element"> ChatDoctor </a> </td>
													    <td> <a href="../elements/id-4db246c66f4345acabc23bd087920b10.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html" target="element"> HospitalVisit </a> </td>
													    <td> <a href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6b30d8d07d17453e9b1f686495a7566e.html" target="element"> Data Pasien </a> </td>
											    <td> <a href="../elements/id-6b30d8d07d17453e9b1f686495a7566e.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d58c323c549449fc839b53f4ae9b6f38.html" target="element"> Data Dokter </a> </td>
											    <td> <a href="../elements/id-d58c323c549449fc839b53f4ae9b6f38.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9019f0438d6d469787f1b113c068ddff.html" target="element"> Data Asuransi Kesehatan </a> </td>
											    <td> <a href="../elements/id-9019f0438d6d469787f1b113c068ddff.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0f7eef5776ea4d749529228829680166.html" target="element"> Data Resep Obat </a> </td>
											    <td> <a href="../elements/id-0f7eef5776ea4d749529228829680166.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dfccd09b4b5a4b2daa17abad28a4e26b.html" target="element"> Data Transaksi </a> </td>
											    <td> <a href="../elements/id-dfccd09b4b5a4b2daa17abad28a4e26b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0741f22acb8e4785bca00871f7a2a616.html" target="element"> Data Pembayaran </a> </td>
											    <td> <a href="../elements/id-0741f22acb8e4785bca00871f7a2a616.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ada0936b0668419ea117ffa3dceb1326.html" target="element"> Data Riwayat Chat </a> </td>
											    <td> <a href="../elements/id-ada0936b0668419ea117ffa3dceb1326.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dc0844b2afa54ee8a206b1187d70edb8.html" target="element"> Data Psikolog/Psikiater </a> </td>
											    <td> <a href="../elements/id-dc0844b2afa54ee8a206b1187d70edb8.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5fe1481285a94db6ac6dd24efa6c6a42.html" target="element"> Data Apoteker </a> </td>
											    <td> <a href="../elements/id-5fe1481285a94db6ac6dd24efa6c6a42.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2c4f31bd789347e6a0984729b7c403eb.html" target="element"> Data Petugas Gizi </a> </td>
											    <td> <a href="../elements/id-2c4f31bd789347e6a0984729b7c403eb.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cc50247c9aae4e1c8d16fabbd7bb8b3a.html" target="element"> Data Petugas Posyandu </a> </td>
											    <td> <a href="../elements/id-cc50247c9aae4e1c8d16fabbd7bb8b3a.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4c7b099f2aaf4a949b1c167229dd5d2b.html" target="element"> Data Jadwal Temu </a> </td>
											    <td> <a href="../elements/id-4c7b099f2aaf4a949b1c167229dd5d2b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c2e9d4a522b444229f05abc0fdb5eb41.html" target="element"> Interface Internal </a> </td>
											    <td> <a href="../elements/id-c2e9d4a522b444229f05abc0fdb5eb41.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bdbd4d3caf9a4196aafe6d9d4c1b5bdd.html" target="element"> Application Registration API </a> </td>
													    <td> <a href="../elements/id-bdbd4d3caf9a4196aafe6d9d4c1b5bdd.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1c2a4d9d47184954bb7fb2b876e1c204.html" target="element"> Application Billing Screen API </a> </td>
													    <td> <a href="../elements/id-1c2a4d9d47184954bb7fb2b876e1c204.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b7c17d7f481c484aa35d52dbcb098a45.html" target="element"> Application Transaction Processing API </a> </td>
													    <td> <a href="../elements/id-b7c17d7f481c484aa35d52dbcb098a45.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-26b87da8f0114628824ce3db9e1e30f7.html" target="element"> Application Service API </a> </td>
													    <td> <a href="../elements/id-26b87da8f0114628824ce3db9e1e30f7.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3bb582dfef3c450b97e3735b86358b9c.html" target="element"> Application Message Service API </a> </td>
													    <td> <a href="../elements/id-3bb582dfef3c450b97e3735b86358b9c.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fc2c2dc257f846109eb1294136f6e79e.html" target="element"> Application History Screen API </a> </td>
													    <td> <a href="../elements/id-fc2c2dc257f846109eb1294136f6e79e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0cbe1df85b78481f959b9a40042e7e9f.html" target="element"> Web Front-End </a> </td>
											    <td> <a href="../elements/id-0cbe1df85b78481f959b9a40042e7e9f.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e26e391842c14930a400fdc0c8e7845e.html" target="element"> Web Registration Interface </a> </td>
													    <td> <a href="../elements/id-e26e391842c14930a400fdc0c8e7845e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1e8eaecf7dae40aaa218668f233e1351.html" target="element"> Web Billing Screen Interface </a> </td>
													    <td> <a href="../elements/id-1e8eaecf7dae40aaa218668f233e1351.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d23951ba78a040bfba649a92dae0c339.html" target="element"> Web Transaction Processing Interface </a> </td>
													    <td> <a href="../elements/id-d23951ba78a040bfba649a92dae0c339.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-34fbaf31a58a4a03ae8cef46b9332819.html" target="element"> Web Service Interface </a> </td>
													    <td> <a href="../elements/id-34fbaf31a58a4a03ae8cef46b9332819.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-33b66d2fb88e40a0af21c6412f7f298f.html" target="element"> Web Message Service Interface </a> </td>
													    <td> <a href="../elements/id-33b66d2fb88e40a0af21c6412f7f298f.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-97b4e2154b4d45859d7590d173a58477.html" target="element"> Web History Screen Interface </a> </td>
													    <td> <a href="../elements/id-97b4e2154b4d45859d7590d173a58477.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5f3204fc13b9433185232001a50e3cfd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f3204fc13b9433185232001a50e3cfd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-70309996c731487e9d9187764070a284.html" target="element"> AyoSehat Super App </a> </td>
																		<td> <a href="../elements/id-f5f582f4d6c04984a3a0348881099bd5.html" target="element"> MediSend </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-211a3a6099b64def8499b380a9538c7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-211a3a6099b64def8499b380a9538c7c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-70309996c731487e9d9187764070a284.html" target="element"> AyoSehat Super App </a> </td>
																		<td> <a href="../elements/id-4db246c66f4345acabc23bd087920b10.html" target="element"> ChatDoctor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7304e63a01ab43abb50ae5ef9cb70b2b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7304e63a01ab43abb50ae5ef9cb70b2b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-70309996c731487e9d9187764070a284.html" target="element"> AyoSehat Super App </a> </td>
																		<td> <a href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html" target="element"> HospitalVisit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-02d6035294354e2fb743e666da377c8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02d6035294354e2fb743e666da377c8c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-70309996c731487e9d9187764070a284.html" target="element"> AyoSehat Super App </a> </td>
																		<td> <a href="../elements/id-94725b3467e64290b816237a48b525d6.html" target="element"> MediShop </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1a6ec5cc383d40a58a8c6f697bea0a99.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a6ec5cc383d40a58a8c6f697bea0a99.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-70309996c731487e9d9187764070a284.html" target="element"> AyoSehat Super App </a> </td>
																		<td> <a href="../elements/id-c2e9d4a522b444229f05abc0fdb5eb41.html" target="element"> Interface Internal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-618ffcb4a2284035bc6bdceabff84185.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-618ffcb4a2284035bc6bdceabff84185.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-70309996c731487e9d9187764070a284.html" target="element"> AyoSehat Super App </a> </td>
																		<td> <a href="../elements/id-0cbe1df85b78481f959b9a40042e7e9f.html" target="element"> Web Front-End </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-873da7ae7284469ea08fa15ae638b91e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-873da7ae7284469ea08fa15ae638b91e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-f5f582f4d6c04984a3a0348881099bd5.html" target="element"> MediSend </a> </td>
																				<td> <a href="../elements/id-0741f22acb8e4785bca00871f7a2a616.html" target="element"> Data Pembayaran </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f5c6962b3ccc4dcb8c6f4d687d29a5d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f5c6962b3ccc4dcb8c6f4d687d29a5d1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-f5f582f4d6c04984a3a0348881099bd5.html" target="element"> MediSend </a> </td>
																				<td> <a href="../elements/id-dfccd09b4b5a4b2daa17abad28a4e26b.html" target="element"> Data Transaksi </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5847c5183f34466f83c80fd9c97e9d77.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5847c5183f34466f83c80fd9c97e9d77.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-f5f582f4d6c04984a3a0348881099bd5.html" target="element"> MediSend </a> </td>
																				<td> <a href="../elements/id-6b30d8d07d17453e9b1f686495a7566e.html" target="element"> Data Pasien </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-41daf72fec31496681c141fb993fd26f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-41daf72fec31496681c141fb993fd26f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-94725b3467e64290b816237a48b525d6.html" target="element"> MediShop </a> </td>
																				<td> <a href="../elements/id-0f7eef5776ea4d749529228829680166.html" target="element"> Data Resep Obat </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-df191b95538542f89c41ccfdb1049e3b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-df191b95538542f89c41ccfdb1049e3b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-94725b3467e64290b816237a48b525d6.html" target="element"> MediShop </a> </td>
																				<td> <a href="../elements/id-5fe1481285a94db6ac6dd24efa6c6a42.html" target="element"> Data Apoteker </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e19fe8c052b849e1b69d224661d0331e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e19fe8c052b849e1b69d224661d0331e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-94725b3467e64290b816237a48b525d6.html" target="element"> MediShop </a> </td>
																				<td> <a href="../elements/id-6b30d8d07d17453e9b1f686495a7566e.html" target="element"> Data Pasien </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-edeefe95263b4f8e8180185165f94e1d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-edeefe95263b4f8e8180185165f94e1d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-94725b3467e64290b816237a48b525d6.html" target="element"> MediShop </a> </td>
																				<td> <a href="../elements/id-0741f22acb8e4785bca00871f7a2a616.html" target="element"> Data Pembayaran </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dc72e56d47c24b5da3da72e6166db269.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dc72e56d47c24b5da3da72e6166db269.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-94725b3467e64290b816237a48b525d6.html" target="element"> MediShop </a> </td>
																				<td> <a href="../elements/id-9019f0438d6d469787f1b113c068ddff.html" target="element"> Data Asuransi Kesehatan </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4c3280e9fb0b4674be34aa148a75515b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4c3280e9fb0b4674be34aa148a75515b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-94725b3467e64290b816237a48b525d6.html" target="element"> MediShop </a> </td>
																				<td> <a href="../elements/id-dfccd09b4b5a4b2daa17abad28a4e26b.html" target="element"> Data Transaksi </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f2d159798835411da3ed0bcf7a88fda3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f2d159798835411da3ed0bcf7a88fda3.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-4db246c66f4345acabc23bd087920b10.html" target="element"> ChatDoctor </a> </td>
																				<td> <a href="../elements/id-dc0844b2afa54ee8a206b1187d70edb8.html" target="element"> Data Psikolog/Psikiater </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-535c9dd6766042c59729afa699d54f2e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-535c9dd6766042c59729afa699d54f2e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-4db246c66f4345acabc23bd087920b10.html" target="element"> ChatDoctor </a> </td>
																				<td> <a href="../elements/id-ada0936b0668419ea117ffa3dceb1326.html" target="element"> Data Riwayat Chat </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-934c62f3064f43968192563d2745940a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-934c62f3064f43968192563d2745940a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-4db246c66f4345acabc23bd087920b10.html" target="element"> ChatDoctor </a> </td>
																				<td> <a href="../elements/id-2c4f31bd789347e6a0984729b7c403eb.html" target="element"> Data Petugas Gizi </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-77665811d23e4ac4a19479bd67196ddc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-77665811d23e4ac4a19479bd67196ddc.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-4db246c66f4345acabc23bd087920b10.html" target="element"> ChatDoctor </a> </td>
																				<td> <a href="../elements/id-6b30d8d07d17453e9b1f686495a7566e.html" target="element"> Data Pasien </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d04b4d2fefd44890bd8f436a2da0e1ed.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d04b4d2fefd44890bd8f436a2da0e1ed.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-4db246c66f4345acabc23bd087920b10.html" target="element"> ChatDoctor </a> </td>
																				<td> <a href="../elements/id-d58c323c549449fc839b53f4ae9b6f38.html" target="element"> Data Dokter </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2022c815a3504e9eb7ab7f27aaf5c09a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2022c815a3504e9eb7ab7f27aaf5c09a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html" target="element"> HospitalVisit </a> </td>
																				<td> <a href="../elements/id-0741f22acb8e4785bca00871f7a2a616.html" target="element"> Data Pembayaran </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1a40323130cf4a75810ad35aa558e5b2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1a40323130cf4a75810ad35aa558e5b2.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html" target="element"> HospitalVisit </a> </td>
																				<td> <a href="../elements/id-2c4f31bd789347e6a0984729b7c403eb.html" target="element"> Data Petugas Gizi </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-70d0691a2d574d3b9e491a90cb2bc754.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-70d0691a2d574d3b9e491a90cb2bc754.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html" target="element"> HospitalVisit </a> </td>
																				<td> <a href="../elements/id-cc50247c9aae4e1c8d16fabbd7bb8b3a.html" target="element"> Data Petugas Posyandu </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e8e2741f77a04bcf8805f0cc461020aa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e8e2741f77a04bcf8805f0cc461020aa.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html" target="element"> HospitalVisit </a> </td>
																				<td> <a href="../elements/id-4c7b099f2aaf4a949b1c167229dd5d2b.html" target="element"> Data Jadwal Temu </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-741e56120ca44b4d9b3775e9d88ac6fb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-741e56120ca44b4d9b3775e9d88ac6fb.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html" target="element"> HospitalVisit </a> </td>
																				<td> <a href="../elements/id-9019f0438d6d469787f1b113c068ddff.html" target="element"> Data Asuransi Kesehatan </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ee5ad30007dc414686b90df436ea1566.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ee5ad30007dc414686b90df436ea1566.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html" target="element"> HospitalVisit </a> </td>
																				<td> <a href="../elements/id-dc0844b2afa54ee8a206b1187d70edb8.html" target="element"> Data Psikolog/Psikiater </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d511100a1b4e4c328f26e5f2d414ffb1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d511100a1b4e4c328f26e5f2d414ffb1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html" target="element"> HospitalVisit </a> </td>
																				<td> <a href="../elements/id-dfccd09b4b5a4b2daa17abad28a4e26b.html" target="element"> Data Transaksi </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-072a2815f7454f0b8310c35005ec81e6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-072a2815f7454f0b8310c35005ec81e6.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html" target="element"> HospitalVisit </a> </td>
																				<td> <a href="../elements/id-6b30d8d07d17453e9b1f686495a7566e.html" target="element"> Data Pasien </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f54e60dc7c9e4625917f29a11192c085.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f54e60dc7c9e4625917f29a11192c085.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-d9e777b6d6aa48698f15fcc9f1adfae3.html" target="element"> HospitalVisit </a> </td>
																				<td> <a href="../elements/id-d58c323c549449fc839b53f4ae9b6f38.html" target="element"> Data Dokter </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-68e850de451944a5b8382b834eccac8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-68e850de451944a5b8382b834eccac8b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-d58c323c549449fc839b53f4ae9b6f38.html" target="element"> Data Dokter </a> </td>
																		<td> <a href="../elements/id-0f7eef5776ea4d749529228829680166.html" target="element"> Data Resep Obat </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-24c801e61f4c4b58bb6557ea08e7d918.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24c801e61f4c4b58bb6557ea08e7d918.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0f7eef5776ea4d749529228829680166.html" target="element"> Data Resep Obat </a> </td>
																		<td> <a href="../elements/id-9019f0438d6d469787f1b113c068ddff.html" target="element"> Data Asuransi Kesehatan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-75d891c026714d2a9382700793ab7585.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75d891c026714d2a9382700793ab7585.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dfccd09b4b5a4b2daa17abad28a4e26b.html" target="element"> Data Transaksi </a> </td>
																		<td> <a href="../elements/id-0741f22acb8e4785bca00871f7a2a616.html" target="element"> Data Pembayaran </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0e0d692fc69b471db84fae22f05bf2d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e0d692fc69b471db84fae22f05bf2d9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dfccd09b4b5a4b2daa17abad28a4e26b.html" target="element"> Data Transaksi </a> </td>
																		<td> <a href="../elements/id-ada0936b0668419ea117ffa3dceb1326.html" target="element"> Data Riwayat Chat </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0eaf16b953f84776aa45750dc76899cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0eaf16b953f84776aa45750dc76899cd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dc0844b2afa54ee8a206b1187d70edb8.html" target="element"> Data Psikolog/Psikiater </a> </td>
																		<td> <a href="../elements/id-ada0936b0668419ea117ffa3dceb1326.html" target="element"> Data Riwayat Chat </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-077b915db4894f1f8c26ca0a0775b376.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-077b915db4894f1f8c26ca0a0775b376.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4c7b099f2aaf4a949b1c167229dd5d2b.html" target="element"> Data Jadwal Temu </a> </td>
																		<td> <a href="../elements/id-d58c323c549449fc839b53f4ae9b6f38.html" target="element"> Data Dokter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ac2f7e8d23e04eb5b12c71f24fea781e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac2f7e8d23e04eb5b12c71f24fea781e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-c2e9d4a522b444229f05abc0fdb5eb41.html" target="element"> Interface Internal </a> </td>
																		<td> <a href="../elements/id-bdbd4d3caf9a4196aafe6d9d4c1b5bdd.html" target="element"> Application Registration API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5bd29ac343074aef85a3712ac8cc9ca4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5bd29ac343074aef85a3712ac8cc9ca4.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-c2e9d4a522b444229f05abc0fdb5eb41.html" target="element"> Interface Internal </a> </td>
																		<td> <a href="../elements/id-1c2a4d9d47184954bb7fb2b876e1c204.html" target="element"> Application Billing Screen API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a876e35bbc124c8f9260ddea809fea74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a876e35bbc124c8f9260ddea809fea74.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-c2e9d4a522b444229f05abc0fdb5eb41.html" target="element"> Interface Internal </a> </td>
																		<td> <a href="../elements/id-b7c17d7f481c484aa35d52dbcb098a45.html" target="element"> Application Transaction Processing API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f7e821c5155e4c90bcbf858f2c92c3c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7e821c5155e4c90bcbf858f2c92c3c3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-c2e9d4a522b444229f05abc0fdb5eb41.html" target="element"> Interface Internal </a> </td>
																		<td> <a href="../elements/id-26b87da8f0114628824ce3db9e1e30f7.html" target="element"> Application Service API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dc8b09b278a046899b6469d2faede8b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc8b09b278a046899b6469d2faede8b0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-c2e9d4a522b444229f05abc0fdb5eb41.html" target="element"> Interface Internal </a> </td>
																		<td> <a href="../elements/id-3bb582dfef3c450b97e3735b86358b9c.html" target="element"> Application Message Service API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-176d8e6f27014ff1849accb614dc92a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-176d8e6f27014ff1849accb614dc92a5.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-c2e9d4a522b444229f05abc0fdb5eb41.html" target="element"> Interface Internal </a> </td>
																		<td> <a href="../elements/id-fc2c2dc257f846109eb1294136f6e79e.html" target="element"> Application History Screen API </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b9fc07ec39114520b2b5e82c446bce1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9fc07ec39114520b2b5e82c446bce1c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-0cbe1df85b78481f959b9a40042e7e9f.html" target="element"> Web Front-End </a> </td>
																		<td> <a href="../elements/id-e26e391842c14930a400fdc0c8e7845e.html" target="element"> Web Registration Interface </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7f85c3d743d4233847149df67942c26.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7f85c3d743d4233847149df67942c26.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-0cbe1df85b78481f959b9a40042e7e9f.html" target="element"> Web Front-End </a> </td>
																		<td> <a href="../elements/id-1e8eaecf7dae40aaa218668f233e1351.html" target="element"> Web Billing Screen Interface </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ae5658cbd29c4465b963dbc373b58f52.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae5658cbd29c4465b963dbc373b58f52.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-0cbe1df85b78481f959b9a40042e7e9f.html" target="element"> Web Front-End </a> </td>
																		<td> <a href="../elements/id-d23951ba78a040bfba649a92dae0c339.html" target="element"> Web Transaction Processing Interface </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4cfbbd3bed4c4fceb218f56386ca1527.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4cfbbd3bed4c4fceb218f56386ca1527.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-0cbe1df85b78481f959b9a40042e7e9f.html" target="element"> Web Front-End </a> </td>
																		<td> <a href="../elements/id-34fbaf31a58a4a03ae8cef46b9332819.html" target="element"> Web Service Interface </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d2081ebf54c490886e44695b78f2d5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d2081ebf54c490886e44695b78f2d5c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-0cbe1df85b78481f959b9a40042e7e9f.html" target="element"> Web Front-End </a> </td>
																		<td> <a href="../elements/id-33b66d2fb88e40a0af21c6412f7f298f.html" target="element"> Web Message Service Interface </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ada1e293ede84171a74b03a5c1fc3069.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ada1e293ede84171a74b03a5c1fc3069.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-0cbe1df85b78481f959b9a40042e7e9f.html" target="element"> Web Front-End </a> </td>
																		<td> <a href="../elements/id-97b4e2154b4d45859d7590d173a58477.html" target="element"> Web History Screen Interface </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>